@model List<Person>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>@Html.ActionLink("Add New Data","Create")</h2>
<h2>Persons</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th>
                Email
            </th>
            <th>
                Mobile
                </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.SID
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Mobile
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id= item.SID })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.SID })
            </td>
        </tr>
        }

    </tbody>
</table>